.home-projects {
  background-color: $black;
  width: 100%;
  padding: 160px 0 120px;

  .left-col {
    width: 100vw;
    max-width: 1180px;
    padding: 0 75px;
    h1 {
      max-width: 270px;
      margin: 140px 0 70px 197px;
      span {
        letter-spacing: -1px;
      }
    }
  }

  .project-container {
    width: 1180px;
    margin: auto;
    height: 1010px;
    position: relative;
    max-width: 1180px;
    .large-project {
      max-width: 480px;
      width: 100%;
    }
    .small-project {
      max-width: 280px;
      width: 100%;
    }
    .large-project,
    .small-project {
      position: absolute;
      display: none;
      transition: all 1000ms ease-in-out;

      div {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.5;
        top: 0;
        left: 0;
      }
    }
    .large-project:hover,
    .small-project:hover {
      div {
        opacity: 0.2;
      }
    }
    img {
      width: 100%;
    }
    .pos-0 {
      display: block;
      z-index: 2;
      top: 0;
      left: 100px;
      transform: translate(140px, 210px);
    }
    .pos-1 {
      display: block;
      max-width: 580px;
      z-index: 3;
      top: 290px;
      left: 0;
      transform: translate(190px, 50px);
    }
    .pos-2 {
      display: block;
      z-index:4;
      top: 640px;
      left: 100px;
      transform: translate(180px, -190px);
    }
    .pos-3 {
      display: block;
      z-index: 5;
      right: 100px;
      bottom: 0;
      transform: translate(-210px, -240px);
    }
    .pos-4 {
      display: block;
      z-index: 0;
      right: 300px;
      transform: translate(-240px, 90px);
      top: 60px;

    }
    .pos-5 {
      display: block;
      z-index: 1;
      top: 110px;
      right: 0;
      transform: translate(-140px, 90px);
    }
  }
}

.project-container:has(div.active) {
  .pos-0 {
    display: block;
    transform: translate(0);
  }
  .pos-1 {
    display: block;
    transform: translate(0);
  }
  .pos-2 {
    display: block;
    transform: translate(0);
  }
  .pos-3 {
    display: block;
    transform: translate(0);
  }
  .pos-4 {
    display: block;
    transform: translate(0);
  }
  .pos-5 {
    display: block;
    transform: translate(0);
  }
}


@media screen and (max-width: 1080px){
  .home-projects {
    .left-col {
      h1 {
        margin: 140px 0 70px 80px;
      }
    }
  }
}
@media screen and (max-width: 719px) {
  .home-projects {
    .left-col {
      padding: 0 45px;
      h1 {
        margin: 140px 0 70px 0;
      }
      h3 {
        align-self: flex-end;
        text-align: right;
      }
    }
    .project-container {
      max-width: 650px;
      .large-project {
        max-width: 380px;
        width: 100%;
      }
      .small-project {
        max-width: 220px;
        width: 100%;
      }
      .pos-0 {
        top: 0;
        left: 20px;
        transform: translate(30%, 210px);
      }
      .pos-1 {
        max-width: 400px;
        top: 240px;
        left: 0;
        transform: translate(20%, 50px);
      }
      .pos-2 {
        top: 580px;
        right: 0;
        left: auto;
        transform: translate(-20%, -190px);
      }
      .pos-3 {
        right: 0;
        bottom: 0;
        transform: translate(-30%, -300px);
      }
      .pos-4 {
        left: 30px;
        right: auto;
        top: 490px;
        transform: translate(30%, -160px);
      }
      .pos-5 {
        top: 80px;
        right: 0;
        transform: translate(-40%, 90px);
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .home-projects {
    .left-col {
      padding: 0 20px;
    }
    .project-container {
      max-width: 100vw;
      height: 1150px;
      min-width: 370px;
      .large-project {
        max-width: 320px;
        width: 100%;
      }
      .small-project {
        max-width: 180px;
        width: 100%;
      }
      .pos-0 {
        top: 0;
        left: auto;
        right: 0;
        transform: translate(30%, 210px);
      }
      .pos-1 {
        max-width: 340px;
        top: 190px;
        left: 0;
        transform: translate(20%, 50px);
      }
      .pos-2 {
        top: 390px;
        right: 0;
        transform: translate(-20%, -190px);
      }
      .pos-3 {
        right: auto;
        left: 0;
        bottom: auto;
        top: 560px;
        transform: translate(-30%, -300px);
      }
      .pos-4 {
        left: auto;
        right: 0;
        top: auto;
        bottom: 0;
        transform: translate(30%, -160px);
      }
      .pos-5 {
        bottom: 0;
        top: auto;
        right: auto;
        left: 0;
        transform: translate(-40%, 90px);
      }
    }
  }
}
