@font-face {
  font-family: 'Koulen';
  src: url('/fonts/Koulen-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/fonts/Exo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/fonts/Exo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/fonts/Exo-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}